@media screen and (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media screen and (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 0.1rem solid var(--dark-black);
        border-bottom: 0.1rem solid var(--dark-black);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        font-size: 1.7rem;
        padding: 1.5rem;
        margin: 1rem;
        background: rgb(141, 138, 138);
    }

    #search-form #search-box{
        width: 90%;
    }

    .home .home-slider .wrapper .slide .content h3{
        font-size: 3rem;
    }

    .home .home-slider .wrapper .slide .image img{
        margin-top: 1rem;
    }
}

@media screen and (max-width:991px){
    html{
        font-size: 50%;
    }
}