@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


:root{
    --dark-black: #1a1b1c;
    --semi-black: #292c2e;
    --light-black: #3d3e40;
    --grey-black: #555657;
    --box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all 0.4s linear;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    font-size: 2rem;
    font-weight: 500;
    color: var(--semi-black);
    text-transform: none;
}

header .logo i{
    color: var(--dark-black);
    margin-right: 0.5rem;
}

header .navbar a{
    color: var(--light-black);
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background: none;
    font-weight: 500;
}
header .navbar a.active,
header .navbar a:hover{
    background: var(--dark-black);
    color: rgb(167, 164, 164);
}

header .icons i{ 
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.3rem;
    color: var(--dark-black);
    border-radius: 50%;
    /* background: var(--grey-black); */
    text-align: center;
    margin-left: 1rem;
}

header .icons .search-symbol{
    margin-left: 0.5rem;
}

header .icons i:hover{
    transform: rotate(360deg);
    color: rgb(211, 207, 207);
    background: var(--dark-black);
}

header .icons a{
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--light-black);
    margin-left: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

header .icons .login:hover{
    cursor: pointer;
    color: rgb(141, 138, 138);
}

header .icons .get-started{
    border: 0.199rem solid rgb(197, 193, 193);
    background: none;
}

header .icons .get-started:hover{
    background: rgba(236, 234, 234, 0.767);
}


header .icons #menu-bars{
    display: none;
}