@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


:root{
    --dark-black: #1a1b1c;
    --semi-black: #292c2e;
    --light-black: #3d3e40;
    --grey-black: #555657;
    --box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all 0.4s linear;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

section{
    padding: 2rem 9%;
}

#home{
    padding-top: 10rem;
}



.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: 0.6rem 1.8rem;
    margin-top: 1rem;
    border-radius: 0.4rem;
    font-size: 1.7rem;
    background: var(--dark-black);
    color: white;
    line-height: 2;
    text-align: center;
}

.btn:hover{
    letter-spacing: 0.1rem;
    background: #000;
    color: rgb(209, 207, 207);
}

.btn2{
    margin-top: 2rem;
    line-height: 2;
}

.btn3{
    margin-top: 3rem;
    display: inline-block;
    padding: 0.7rem 1.2rem;
    background: transparent;
    border-radius: 0.3rem;
    border: 0.2rem solid #0889fa;
    font-size: 1.5rem;
    font-weight: 500;
    color: #0889fa;
    cursor: pointer;
}

.btn3:hover{
    background: #0889fa;
    color: white;
}

.btn4{
    width: 70%;
    text-align: center;
    margin-top: 3rem;
    display: inline-block;
    padding: 0.7rem 1.3rem;
    background: transparent;
    border-radius: 0.3rem;
    border: 0.2rem solid #9c6ade;
    font-size: 1.5rem;
    font-weight: 500;
    color: #9c6ade;
    cursor: pointer;
}

.btn4:hover{
    background: #9c6ade;
    color: white;
}

.btn5{
    width: 70%;
    margin-top: 3rem;
    display: inline-block;
    padding: 0.7rem 1.3rem;
    background: transparent;
    border-radius: 0.3rem;
    border: 0.2rem solid #47c1bf;
    font-size: 1.5rem;
    font-weight: 500;
    color: #47c1bf;
    cursor: pointer;
    text-align: center;
}

.btn5:hover{
    background: #47c1bf;
    color: white;
}

.plan-btn{
    margin-top: 2.5rem;
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
    color: var(--dark-black);
    text-transform: none;
    cursor: pointer;
}

.plan-btn:hover{
    color: #fff;
    background: #9db2c4;
    letter-spacing: 0.1rem;
}

/* Header section */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    font-size: 2rem;
    font-weight: 500;
    color: var(--semi-black);
    text-transform: none;
}

header .logo i{
    color: var(--dark-black);
    margin-right: 0.5rem;
}

header .navbar a{
    color: var(--light-black);
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background: none;
    font-weight: 500;
}
header .navbar a.active,
header .navbar a:hover{
    background: var(--dark-black);
    color: rgb(167, 164, 164);
}

header .icons i{ 
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.3rem;
    color: var(--dark-black);
    border-radius: 50%;
    /* background: var(--grey-black); */
    text-align: center;
    margin-left: 1rem;
}

header .icons .search-symbol{
    margin-left: 0.5rem;
}

header .icons i:hover{
    transform: rotate(360deg);
    color: rgb(211, 207, 207);
    background: var(--dark-black);
}

header .icons a{
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--light-black);
    margin-left: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

header .icons .login:hover{
    cursor: pointer;
    color: rgb(141, 138, 138);
}

header .icons .get-started{
    border: 0.199rem solid rgb(197, 193, 193);
    background: none;
}

header .icons .get-started:hover{
    background: rgba(236, 234, 234, 0.767);
}


header .icons #menu-bars{
    display: none;
}


/* Search form */
#search-form{
    position: fixed;
    top: -110%;
    right: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1002;

    display: flex;
    justify-content: center;
    align-items: center;
}

#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 45rem;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid #fff;
    background: none;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
}

#search-form #search-box::placeholder{
    color: rgb(207, 205, 205);
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    cursor: pointer;
    font-size: 1.5rem;
    color: #eee;
    margin-left: 0.5rem;
}

#search-form label:hover{
    color: var(--dark-black);
    font-weight: bold;
}

#search-form #close{
    position: absolute;
    top: 4rem;
    right: 5rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #eee;
}

#search-form #close:hover{
    color: var(--dark-black);
    font-weight: bolder;
}

/* Login section */

#login-section{
    position: fixed;
    top: -110%;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1003;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#login-section.active{
    top: 0;
}

#login-section .title{
    position: absolute;
    top: 5rem;
    left: 45%;
}

#login-section .title .title-logo span{
    font-size: 1.8rem;
    text-transform: none;
    color: #fff;
    margin-left: 0.5rem;
    letter-spacing: 0.1rem;
}

#login-section .title .title-logo i{
    font-size: 1.7rem;
    color: rgb(253, 252, 252)
}




#login-section .platform-container{
    border: 0.1rem solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    padding: 3rem;
    background: #fff;
    box-shadow: var(--box-shadow);
}

#login-section .form-container{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

#login-section .form-container span{
    color: blue;
    font-size: 1.2rem;
    cursor: pointer;
}


#login-section #close2{
    cursor: pointer;
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: #fff;
}

#login-section #close2:hover{
    color: #000;
}



#login-section .login-form{
    margin-top: 5rem;
}

#login-section .login-form .platforms{
    text-align: center;
    width: 25rem;
    height: 4rem;
    background: gray;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 2rem 0;
    cursor: pointer;
}

#login-section .login-form .platforms span{
    font-size: 1.3rem;
    font-weight: 500;
}

#login-section .platform-container .login-form .google{
    background: #fff;
    border: 0.1rem solid var(--grey-black);
}

#login-section .platform-container .login-form .google:hover{
    background: rgba(0,0,0,0.2);
    border: 0.1rem solid rgba(0,0,0,0.2);
    transition: all 0.3s linear;
}

#login-section .platform-container .login-form .facebook{
    background: #1877f2;
    border: 0.1rem solid #1877f2;
    color: #fff;
}

#login-section .platform-container .login-form .facebook:hover{
    background: #4d8ee4;
    border: 0.1rem solid #4d8ee4;
    transition: all 0.2s linear;
}

#login-section .platform-container .login-form .apple{
    background: #000;
    border: 0.1rem solid #000;
    color: #fff;
}

#login-section .platform-container .login-form .apple:hover{
    background: rgb(43, 42, 42);
    border: 0.1rem solid rgb(43, 42, 42);
    transition: all 0.2s linear;
}

#login-section .platform-container .login-form .github{
    background: #fff;
    border: 0.1rem solid #000;
    color: #000;
}

#login-section .platform-container .login-form .github:hover{
    background: #000;
    border: 0.1rem solid #000;
    color: #fff;
}

#login-section .platform-container .login-form .email i{
     margin-left: 0.5rem; 
}

#login-section .platform-container .login-form .email{
    background: #fff;
    color: #4da2f1;
}

#login-section .platform-container .login-form .email:hover{
    background: #fff;
    color: #0080ff;
}

#login-section .login-form .platforms i{
    margin-right: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
}



#login-section .sign-up{
    display: inline-block;
    margin-top: 3rem;
}

#login-section .sign-up .signup-logo{
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.1rem;
}

#login-section .sign-up span{
    margin-left: 1rem;
    font-size: 1.1rem;
    color: #0080ff;   
    font-weight: bold;
}

#login-section .sign-up span:hover{
    color: #72b8fd;
}

/* Home Section */

.home .home-slider .wrapper .slide{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .wrapper .slide .content{
    flex: 1 1 45rem;
}

.home .home-slider .wrapper .slide .image{
    flex: 1 1 45rem;
}

.home .home-slider .wrapper .slide .image img{
    width: 100%;
    filter: drop-shadow(0 0.1rem 0.3rem  black);
    /* box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3); */
    animation: drop 1.5s ease;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-8rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

.home .home-slider .wrapper .slide .content span{
    text-transform: capitalize;
    font-size: 2.3rem;
    color: var(--dark-black);
    font-weight: 500;
}

.home .home-slider .wrapper .slide .content h3{
    font-size: 5rem;
    color: rgb(26, 26, 26); 
}

.home .home-slider .wrapper .slide .content p{
    font-size: 1.9rem;
    margin-top: 1rem;
    line-height: 1.5;
    padding: 0.5rem 0;
    color: var(--light-black);
}


.swiper-pagination-bullet-active{
    background-color: var(--dark-black);
}

/* Features section */

#features{
    margin-top: 4rem;
}

.features .features-main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0rem;
    padding-top: 9rem;
}

.features .features-main .features-text{
    flex: 1 1 30rem;
    margin-left: 5rem;
    padding: 1rem 0;
}

.features .features-main .features-image{
    flex: 1 1 25rem;
}

.features .features-main .features-image img{
    width: 100%;
    height: 55vh;
    margin-left: 15rem;
    filter:drop-shadow(0 0.1rem 0.3rem rgba(0,0,0,0.3))
}


.features .features-main .features-text h3{
    font-size: 5.5rem;
    color: var(--semi-black);
    font-weight: 550;
    line-height: 1.2;
}

.features .features-main .features-text p{
    padding-top: 2.4rem;
    font-size: 2rem;
    color: rgba(2,17,33,.6);
    line-height: 3rem;
}


/* Video Feature */
.video-feature{
    background: #ecf6ff;
    padding-bottom: 5rem;
}

.video-feature .video-main{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.video-feature .video-main .video-text{
    font-size: 4rem;
    font-weight: 500;
    color: #4e5153;
    padding: 5rem 2rem;
}

.video-feature .video-main .video-video video{
    width: 100%;
    padding: 0 4rem;
}

.video-feature .svg-icons{
    margin-top: 5rem;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-feature .svg-icons .svg-platform{
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: left;
}

.video-feature .svg-icons .svgs .svg-i{
    cursor: pointer;
}

.video-feature .svg-icons .svgs .svg-i:hover{
    filter: drop-shadow(0 0.1rem 0.3rem rgba(0,0,0,0.3));
}

.video-feature .svg-icons .svgs h3{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--dark-black);
    line-height: 3;
}

.video-feature .svg-icons .svg-para p{
    font-size: 1.4rem;
    color: #82888d;
    text-transform: lowercase;
}


/* Organize Section */
.organize{
    margin-top: 3rem;
    padding-bottom: 10rem;
}

.organize .organize-header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.organize .organize-header .organize-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.organize .organize-header .organize-icon h3{
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 1.5rem;
    color: #0889fa;
}


.organize .organize-header .organize-icon img{
    cursor: pointer;
    width: 5rem;
}

.organize .organize-header .organize-icon img:hover{
    filter: drop-shadow(0 0.1rem 0.3rem rgba(0,0,0,0.3));
}


.organize .organize-header .organize-content{
    padding-top: 3rem;
}

.organize .organize-header .organize-content p{
    font-size: 5rem;
    font-weight: 600;
    text-transform: none;
    color: var(--dark-black);
}

.organize .organize-container{
    display: flex;
    justify-content: space-between;
    padding-top: 15rem;
}

/* .organize .organize-container .organize-text-container{
    width: 50%;
} */


.organize .organize-container .organize-text-container h4{
    text-transform: none;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--dark-black);
    padding-top: 1rem;
}


.organize .organize-container .organize-text-container p{
    text-transform: none;
    font-size: 1.7rem;
    color: #82888d;
    line-height: 1.5;
    padding-top: 3rem;
}




.organize .organize-container .organize-img-container{
    width: 80%;
}


.organize .organize-container .organize-img-container img{
    cursor: pointer;
    width: 100%;
    border-radius: 0.5rem;
    padding-left: 10rem;
    padding-right: 5rem;
    filter: drop-shadow(0 0.1rem 0.3rem rgba(0,0,0,0.3));
}


/* Plan section */
.plan .plan-all{
    width: auto;
    margin-top: 7rem;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.5rem 16rem;
    border-radius: 1rem;
    text-align: center;
    background: linear-gradient(145deg,#292d2e,#222c36 73%,#0a1118);
}

.plan .plan-all .plan-all-text h3{
    font-size: 3rem;
    font-weight: 600;
    word-spacing: 0.4rem;
    color: white;
}

.plan .plan-all .plan-all-btn{
    padding: 1rem;
}


/* Communicate section */
.communicate{
    margin-top: 10rem;
    margin-bottom: 10rem;
    background: #ecf6ff;
    padding-bottom: 10rem;
}

.communicate .communicate-main{
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.communicate .communicate-main .communicate-svg{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.communicate .communicate-main .communicate-svg img{
    width: 5rem;
    cursor: pointer;
}

.communicate .communicate-main .communicate-svg img:hover{
    filter: drop-shadow(0 0.1rem 0.3rem rgba(0,0,0,0.3));
}

.communicate .communicate-main .communicate-svg h3{
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 1.5rem;
    color: #9c6ade;
}

.communicate .communicate-main .communicate-text p{
    padding-top: 3rem;
    font-size: 5rem;
    font-weight: 600;
    text-transform: none;
    color: var(--dark-black);
}


.communicate .communicate-container{
    padding-top: 10rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.communicate .communicate-container .communcate-img-container{
    width: 50%;
}

.communicate .communicate-container .communcate-text-container{
    width: 30%;
}

.communicate .communicate-container .communcate-img-container img{
    cursor: pointer;
    width: 100%;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0.1rem 0.3rem rgba(0,0,0,0.3));
}

.communicate .communicate-container .communicate-text-container h4{
    text-transform: none;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--dark-black);
    padding-top: 1rem;
}


.communicate .communicate-container .communicate-text-container p{
    text-transform: none;
    font-size: 1.7rem;
    color: #82888d;
    line-height: 1.5;
    padding-top: 3rem;
}

/* Access section */
.access{
    margin-top: 10rem;
    padding-bottom: 10rem;
}

.access .access-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.access .access-container .access-svg{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.access .access-container .access-svg img{
    cursor: pointer;
    width: 5rem;
}

.access .access-container .access-svg img:hover{
    filter: drop-shadow(0 0.1rem 0.3rem rgba(0,0,0,0.3));
}

.access .access-container .access-svg h3{
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 1.5rem;
    color: #47c1bf;
}

.access .access-container .access-text p{
    padding-top: 3rem;
    font-size: 5rem;
    font-weight: 600;
    text-transform: none;
    color: var(--dark-black);
}

.access .access-text-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10rem;
    margin-top: 5rem;
}

.access .access-text-container .access-text-block{
    width: 50%;
}

.access .access-text-container .access-img-block{
    width: 50%;
}

.access .access-text-container .access-text-block h4{
    text-transform: none;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--dark-black);
    padding-top: 1rem;
}

.access .access-text-container .access-text-block p{
    text-transform: none;
    font-size: 1.7rem;
    color: #82888d;
    line-height: 1.5;
    padding-top: 3rem;
}


.access .access-text-container .access-img-block img{
    cursor: pointer;
    width: 100%;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0.1rem 0.3rem rgba(0,0,0,0.3));
}


/* Get started section */
.get-started-section .get-started-section-container{
    margin-bottom: 5rem;
    width: auto;
    margin-top: 7rem;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.5rem 12rem;
    border-radius: 1rem;
    text-align: center;
    background: linear-gradient(145deg,#292d2e,#222c36 73%,#0a1118);
}

.get-started-section .get-started-section-container h3{
    font-size: 3rem;
    font-weight: 600;
    word-spacing: 0.4rem;
    color: white;
}

.get-started-section .get-started-section-container p{
    padding-top: 1.5rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(155, 152, 152);
}


/* Review section */
.review{
    margin-top: 10rem;
}

/* .review .review-container h3{
    text-align: center;
    font-size: 3.3rem;
} */


.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    position: relative;
}

.review .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color: var(--dark-black);
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.4;
    color: rgba(2,17,33,.6);
}