@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


:root{
    --dark-black: #1a1b1c;
    --semi-black: #292c2e;
    --light-black: #3d3e40;
    --grey-black: #555657;
    --box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all 0.3s;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    font-size: 2rem;
    color: var(--semi-black);
    text-transform: none;
}

header .logo i{
    color: var(--dark-black);
    margin-right: 0.2rem;
}

header .navbar a{
    color: var(--light-black);

}